@media (min-width: 320px) and (max-width: 575.99px) {
  /* =====================================================
             Navbar start
  ======================================================== */
  .navicon {
    font-size: 43px;
    box-shadow: none !important;
    border: 0px;
    padding: 0;
  }
  .img {
    width: 75px;
  }
  .navText {
    text-align: center;
    row-gap: 10px;
  }
  /* =====================================================
             Navbar end
  ======================================================== */
  /* =====================================================
             Title start
  ======================================================== */
  .titleHeading {
    font-size: 35px;
    width: auto;
  }
  .titlePragraph {
    width: auto;
    font-size: 17px;
  }
  .titleButton {
    margin-bottom: 55px;
  }
  .titleImg {

	height: 190px !important;
}

  /* =====================================================
             Title end
  ======================================================== */
  /* =====================================================
             Team Start
  ======================================================== */
  .team {
    padding: 15px 0 64px;
  }
  .teamParagraph {
    font-size: 15px;

    width: auto;
  }
  /* =====================================================
             Team end
  ======================================================== */
  /* =====================================================
             Client start
  ======================================================== */

  .clientImages {
    text-align: center;
    row-gap: 25px;
    margin-top: 18px;
  }

  /* =====================================================
             Client end
  ======================================================== */
  /* =====================================================
             Footer start
  ======================================================== */
  .footerLayoutDesignHandle {
    row-gap: 25px;
    /* text-align: center; */
    margin: 0 auto;
  }
  /* =====================================================
             Footer end
  ======================================================== */
}
@media (min-width: 576px) and (max-width: 767.99px) {
  /* =====================================================
             Navbar start
  ======================================================== */
  .navicon {
    font-size: 43px;
    box-shadow: none !important;
    border: 0px;
    padding: 0;
  }
  .img {
    width: 75px;
  }
  .navText {
    text-align: center;
    row-gap: 10px;
  }
  /* =====================================================
             Navbar end
  ======================================================== */
  /* =====================================================
             Title start
  ======================================================== */
  .titleHeading {
    font-size: 35px;
    width: auto;
  }
  .titlePragraph {
    width: auto;
    font-size: 17px;
  }
  .titleButton {
    margin-bottom: 55px;
  }
  .titleImg {
    height: auto;
  }
  /* =====================================================
             Title end
  ======================================================== */
  /* =====================================================
             Team Start
  ======================================================== */
  .team {
    padding: 15px 0 64px;
  }
  .teamParagraph {
    font-size: 15px;

    width: auto;
  }
  .cardImg {
    object-fit: contain;
  }
  /* =====================================================
             Team end
  ======================================================== */
  /* =====================================================
             Client start
  ======================================================== */

  .clohed {
    padding-bottom: 60px;
  }
  .clientImages {
    text-align: center;
    row-gap: 33px;
    margin: 0 auto;
  }
  /* =====================================================
             Client end
  ======================================================== */
  /* =====================================================
             Footer start
  ======================================================== */

  .footerLayoutDesignHandle {
    row-gap: 25px;
    /* text-align: center; */
    margin: 0 auto;
  }

  /* =====================================================
             Footer end
  ======================================================== */
}

@media (min-width: 768px) and (max-width: 991px) {
  /* =====================================================
             Navbar start
  ======================================================== */
  .navicon {
    font-size: 43px;
    box-shadow: none !important;
    border: 0px;
    padding: 0;
  }
  .img {
    width: 75px;
  }
  .navText {
    text-align: center;
    row-gap: 16px;
  }
  /* =====================================================
             Navbar end
  ======================================================== */
  /* =====================================================
             Title start
  ======================================================== */
  .titleHeading {
    width: auto;
  }
  .titlePragraph {
    width: auto;
    font-size: 17px;
  }
  .titleButton {
    margin-bottom: 55px;
  }

  /* =====================================================
             Title end
  ======================================================== */
  /* =====================================================
             Team start
  ======================================================== */

  .cardImg {
    height: 485px;
    width: 69%;
    object-fit: cover;
  }

  /* =====================================================
             Team end
  ======================================================== */

  /* =====================================================
             Client start
  ======================================================== */
  .clientImages {
    text-align: center;
    row-gap: 33px;
  }
  .clohed {
    padding-bottom: 57px;
  }
  /* =====================================================
             Client end
  ======================================================== */
  /* =====================================================
             Footer Start
  ======================================================== */
  .footerLayoutDesignHandle {
    row-gap: 25px;
    /* text-align: center; */
    margin: 0 auto;
  }
  /* =====================================================
             Footer end
  ======================================================== */
}
